* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {color: #000; text-decoration: none;}

.wrap {max-width: 1920px;}
.hd {
    width: 1200px;
    margin: 0 auto;
}

.hd .nav {
    display: flex;
    justify-content: space-between;
}

.hd .nav .logo {
    color: #692f07;
}

.hd .nav .gnb {
    display: flex;
    align-items: flex-end;
}

.hd .nav .gnb .dep1 {
    padding-right: 15px;
}

.hd .nav .gnb .dep1 a {
    color: #692f07;
    font-size: 20px;
}

.main {
    width: 1200px;    
    margin: 0 auto;
    
}

.main .inner {
    background-image: url(../images/BA01.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 746PX;
    margin-top: 15px;
    position: relative;    
}

.main .inner .banner {
    position: absolute;
    top: 0;
    transform: translate(25%, 125%);
}

.main .inner .banner span {
    color: #fff;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 300;
}

.main .inner .banner p {
    color: #fff;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: bold;
    margin-top: -15px;
}

.main .inner .banner div {
    color: #fff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 200;
    padding-top: 20px;
}

.bedroom .inner {
    width: 1200px;
    margin: 0 auto;
}

.bedroom .inner .content {
    margin-top: 100px;    
}

.bedroom .inner .content .con-tit {
    color: #692f07;
    font-size: 30px;
}

.bedroom .inner .content .img-list{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    overflow: hidden;
}

.bedroom .inner .content .img-list li {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.bedroom .inner .content .img-list li:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.bedroom .inner .content .img-list img {
    width: 390px;
    height: 240px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.livingroom .inner {
    width: 1200px;
    margin: 0 auto;
}

.livingroom .inner .content {
    margin-top: 100px;    
}

.livingroom .inner .content .con-tit {
    color: #692f07;
    font-size: 30px;
}

.livingroom .inner .content .img-list{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}

.livingroom .inner .content .img-list li {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.livingroom .inner .content .img-list li:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.livingroom .inner .content .img-list img {
    width: 390px;
    height: 240px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}    















.etc .inner {
    width: 1200px;
    margin: 0 auto;
}

.etc .inner .content {
    margin-top: 100px;    
}

.etc .inner .content .con-tit {
    color: #692f07;
    font-size: 30px;
}

.etc .inner .content .img-list{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}

.etc .inner .content .img-list img {
    width: 290px;
    height: 217px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.etc .inner .content .img-list li strong {
    color: #692f07;
    font-size: 22px;
    line-height: 2.5;
}

.etc .inner .content .img-list li span {
    color: #692f07;
    font-size: 16px;    
}
