* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {color: #000; text-decoration: none;}
h1,h2,div,span,p {font-family: 'Roboto','NotoSans';}

.wrap {
    width: 1920px;    
}

.banner {
    width: 100%;

}

.banner img {
    width: 100%;
    height: 950px;
}

.hd {
    width: 1920px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.281);
    position: fixed;

}

.hd .gnb {    
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}

.hd .gnb .dep1 {
    line-height: 3.7;
}

.hd .gnb .dep1 a {
    color: rgba(255, 255, 255, 0.5);
}

.hd .gnb .dep1 a:hover {
    color: #fff;
}

.hd .gnb .dep1:hover {
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s;
}
.about {
    
}
.about .inner {  
    text-align: center;  
}

.about .inner h1 {
    padding-top: 50px;
    font-size: 50px;
}

.about .inner .tit-txt span {
    color: #444;
    line-height: 2;
}

.about .inner .left .photo img {
    display: block;
}

.about .inner .flex-box {
    display: flex;
    justify-content: center;
}

.about .inner .flex-box .right {
    padding-top: 130px;
    padding-left: 50px;
    
}
 
.content-box .box h2 {
    text-align: left;
    padding-bottom: 25px;
    font-size: 50px;
}

.content-box .box .txt-list{
    display: flex;
    justify-content: center;    
}

.content-box .box .txt-list .txt-info {
    text-align: left;
}

.content-box .box .txt-list .txt-info2 {
    text-align: left;
    padding-left: 60px;
}

.content-box .box .txt-list ul li {
    line-height: 2;
}

.portfolio {
    
}

.portfolio .inner {
    width: 1200px;
    margin: 0 auto;
}

.portfolio .inner .tit-txt h2 {
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}

.portfolio .inner .tabs-nav {
    display: flex;
    justify-content: center
}

.portfolio .inner .tabs-nav li {
    margin-left: 80px;
    margin-top: 30px;
    padding: 0 10px;
    font-size: 26px;
}

.portfolio .inner .tabs-nav li:hover {
    background-color: #000;
    border-radius: 10px;
}

.portfolio .inner .tabs-nav a:hover{
    font-weight: bold;
    color: #fff;
}

.portfolio .inner .tabs-nav a.active {
    font-weight: bold;
}

.portfolio .inner .tabs-panel {
    padding-top: 50px;
}

.portfolio .tabs-panel {
    display: flex;
    justify-content:space-evenly;
}

.portfolio .tabs-panel .left {
    margin-top: 100px;
}

.portfolio .tabs-panel .left .btn {
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 15px;
    margin-right: 10px;
    border : 2px solid #000;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
}

.portfolio .tabs-panel .left .btn::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    transition: all 0.4s;
    z-index: -1;
}

.portfolio .tabs-panel .left .btn:hover a {
    color: #fff;
}

.portfolio .tabs-panel .left .btn:hover::before {
    transform: translateY(-100%);
}

.portfolio .tabs-panel .left .tit{
    font-size: 30px;
    font-weight: bold;
}

.portfolio .tabs-panel .left .txt {
    margin-top: 30px;
}

.portfolio .tabs-panel .right .mokup img {
    width: 700px;
}